/* mobile-first design for Pacific Rhododendron layout */

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, sans-serif
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePicture {
    position: absolute;
    width: 100vw;
    height: 75vh;
    background-image: url("Pacific\ Rhododendron\ 3\ -\ Gary\ Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 75vh;
}

#rhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: auto;
    background-color: darkslategrey;
    color: lightpink;
    font-size: 2em;
    text-align: center;
    width: 66vw;
    
}

/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE */


@media screen and (orientation: landscape) {
#rhodiePicture {
        width: calc(100vw*4/6);
        left: calc(100vw*2/6);
        background-position: top;
    }

    #rhodieTitle {
        width: calc(100vw*2/6);
        background-color: darkslategray; 
    }

        #rhodieTitle h1 {
            width: 100%;
            font-size: 2.5em;
            overflow-wrap:break-word;
    }