@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Modern Antiqua", serif;
}

body h1,
ul,
p {
    font-family: "Modern Antiqua", serif;
}

body h2 {
    font-family: "Modern Antiqua", serif;
}

body h3 {
    font-family: "Modern Antiqua", serif;
}

/* navigation css ----------------------------------------------------------------------------------- */
/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #89B0AE;
    --nav-text-color: #FAF9F9;
    --nav-hover-bkgd-color: #BEE3DB;
    --nav-hover-text-color: #555B6E;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
    z-index: 1000;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}


/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

}


/* homepage header ----------------------------------------------------------------------------------- */
header.homepage {
    width: 100vw;
    height: 80vh;
    background-image: url(images/3d\ printed\ house.jpg);
    background-position: center center;
    background-size: cover;
}

#homepagetitle {
    padding-top: 10vh;
    text-align: center;
}

#homepagetitle h1 {
    font-size: 12vw;
}

#homepagetitle h2 {
    font-size: 5vw;
    font-style: italic;
}

.homeNav {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.homeNavButton {
    height: 9vh;
    width: 9vh;
    background-color: #BEE3DB;
    border-color: #89B0AE;
    font-family: "Modern Antiqua", serif;
    border-radius: 50%
}

#homeIntro {
    width: 90vw;
    margin: 1rem auto;
    text-align: center;
    line-height: 1.5rem;
}

#homeIntro h2 {
    background-color: #BEE3DB;
    padding: 1rem;
    border-radius: 5px;
    line-height: 2rem;
}

.homeNav {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.homeNavButton {
    height: 9vh;
    width: 9vh;
    background-color: #BEE3DB;
    border-color: #89B0AE;
    font-family: "Modern Antiqua", serif;
    border-radius: 50%
}

@media screen and (min-width: 1024px) {
    header.homepage {
        height: 95vh;
    }

    #homepagetitle h1 {
        background-color: #89B0AE90;
        margin: 4vh;
    }

    #homepagetitle h2 {
        background-color: #89B0AE90;
        font-size: 3vw;
        margin: 35vh 23vw;
    }


    #homeContent {
        display: flex;
    }

    #homeIntro {
        width: calc(100vw*4/6);
        margin: 0 2vw;
        font-size: 2vw;
        line-height: 5vh;
    }

    #homeIntro h2 {
        line-height: 7vh;
    }

    #homeIntro p {
        width: 50vw;
        margin: 5vh 1vw;
        text-align: left;
    }

    .homeNav {
        margin: 5rem;
        flex-direction: column;
    }

    .homeNavButton {
        height: 20vh;
        width: 20vh;
        font-size: 2rem;
    }
}

/* standard page header ----------------------------------------------------------------------------------- */
header.standard {
    width: 100vw;
    height: 32vh;
    display: flex;
    background-image: url(images/leaves-background.jpg);
    background-size: cover;
    overflow: hidden;
}

#headertitle {
    margin: 9vh;
}

#headertitle h1 {
    font-size: 10vw;
    color: #FAF9F9;
    text-align: center;
    padding: 2vh;
    background-color: #89B0AE90;
}

#headertitle p {
    font-size: 2vw;
    text-align: center;
    padding: 0;
    margin: 0;
    font-style: italic;
    color: #555B6E;

}

@media screen and (min-width: 1024px) {
    header.standard {
        height: 50vh;
    }


}

/* product blocks ----------------------------------------------------------------------------------- */
.productBlock {
    padding: 1vh;
    width: 100vw;
}

.productBlock h2 {
    background-color: #BEE3DB;
    text-align: center;
}

.productBlock h3 {
    font-size: 5vw;
    padding: 0;
    margin: 0;
}

.productBlock p {
    font-size: 3vw;
    padding: 0;
    margin: 0;
    color: #555B6E;
    margin: 0;
}

.mySlides1,
.mySlides2,
.mySlides3 {
    height: 40vh;
    object-fit: cover;
}

p.price {
    font-size: 5vw;
    text-align: right;
    margin: 0;
    padding: 0;
}

button.moreDetails {
    background-color: #BEE3DB;
    border-color: #89B0AE;
    font-family: "Modern Antiqua", serif;
    margin: 1vh 30% 0 30%
}

#comingSoon {
    background-color: #BEE3DB;
    padding: 1vh;
}

#comingSoon h2 {
    text-align: center;
    background-color: #89B0AE;
}

#comingSoon p {
    text-align: center;
}

#comingSoon img {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    #products {
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5vw;
        margin-left: 2.5vw;
    }

    .productBlock {
        display: flex;
        width: 45vw;
        margin: 5vh 0;
        padding: 1vw;
        flex-direction: column;
        flex-wrap: nowrap;
        border: outset;
    }

    .productBlock h2 {
        font-size: 5vw;
    }

    .productBlock h3 {
        font-size: 3vw;
    }

    .productBlock p {
        font-size: 2vw;
    }

    .mySlides1,
    .mySlides2,
    .mySlides3 {
        height: auto;
    }

    p.price {
        text-align: left;
    }


    button.moreDetails {
        height: 10vh;
        width: 20vw;
        font-size: 2vw;
        margin: 2vh 0;
    }

    #comingSoon {
        width: calc(100vw*5/6);
        margin: 5vh auto;
        border: outset;
        border-color: #89B0AE;
    }

    #comingSoon h2 {
        width: 100%;
        height: 20vh;
        margin: 1vh auto;
        font-size: 8vw;
    }

    #comingSoon p {
        font-size: 5vw;
        width: 50%;
        margin: 0 auto
    }
}

/* product details ----------------------------------------------------------------------------------- */
.productDetails {
    line-height: 2rem;
}

.productDetails h2 {
    text-align: center;
}

#productTagline {
    text-align: center;
    font-size: 3vw;
    margin: 0 16vw 1vh;
    padding: 1rem;
    background-color: #89B0AE70;
    border-radius: 15%;
    border-style: dashed;
    border-color: white;
}

#priceTag {
    text-align: center;
}

#productDescription {
    margin: 0 5vw;
}

#productNote {
    text-align: center;
    font-style: italic;
    font-size: 2.7vw;
    background-color: #F5275740;
    margin: 1vh calc(100vw*2/6)
}

.sample {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: 1vh 5vw 5vh;
}

#glow {
    background-color: #FFAD00;
    border: 1px solid #FFAD00;
    box-shadow: 0 0 10px 5px #FFAD00;
}

#crystal {
    background-color: #FFAD0080;
}

#glitter {
    background-image: url(images/glitter.jpg);
    background-size: 14vh;
    background-position: bottom center;
}

#redSilk {
    background-color: #ec644b95;
}

#marble {
    background-image: url(images/marble.jpg);
    background-size: 9vh;
}

#rbSilk {
    background-image: url(images/rainbow.jpg);
    background-size: 5vh;
}

#tSmoke {
    background-color: #100c0895;
}

@media screen and (min-width: 1024px) {
    .productDetails {
        display: flex;
        flex-wrap: wrap;
    }

    .productDetails h2 {
        font-size: 7vw;
        margin: 9vh auto;
    }

    #productTagline {
        font-size: 2vw;
        line-height: 2rem;
        width: calc(100vw*3/6);
        max-height: 20vh;
        margin: 0 1vw;
        padding: 2vw;
    }

    .productImage {
        width: 40vw;
        position: absolute;
        left: calc(100vw*3/6);
        top: 75vh;
        margin-left: 7vw;
    }

    .mySlides {
        height: 50vw;
        object-fit: scale-down;
    }

    .imagePreview {
        width: 40vw;
        margin: 0 auto;
    }

    #priceTag {
        width: calc(100vw*2/6);
        margin: 0 10%;
        padding: 2vw;
        font-size: 2rem;

    }

    #productContent {
        width: calc(100vw*3/6);
        margin: 1vw;
        padding: 0;
    }

    #productDescription {
        width: 50%;
        font-size: 1.2rem;
        margin: 1vh;
    }

    #productFeatures {
        font-size: 1.2rem;
        position: absolute;
        top: 103vh;
        left: 33vw;
        max-width: 20vw;
        border: outset;
        padding: 1vw;
        border-color: #89B0AE;
    }

    #productFeatures li {
        padding-top: 1.1rem;
    }

    #productFeatures h3 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    #productNote {
        font-size: 1.3rem;
        width: 50%;
        margin: 1vw 0;
    }

    .customOptions {
        width: 100vw;
        margin: 15vh 1vw 0 0;
        padding-top: 5vh;
    }

    .customOptions li {
        display: inline-flex;
        flex-direction: column;
        width: 30%;
        margin: 1vw;
        padding: 1vw;
        font-size: 1.5rem;
        text-align: center;
        border: solid;
        border-radius: 10%;
        height: 30vh;
    }

    .customOptions h3 {
        font-size: 3rem;
        padding: 1vw;
        font-weight: bold;
    }

    .sample {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        margin: auto;
    }

    #glitter,
    #marble {
        background-size: 45vh;
    }

    #rbSilk {
        background-size: 20vh;
    }
}

/* Meet The Team -----------------------------------------------------------------------------------*/
#MeetTheTeam img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

#MeetTheTeam #admin img {
    object-position: top center;
}

#MeetTheTeam h2 {
    text-align: center;
}

#MeetTheTeam h3 {
    text-align: center;
    background-color: #89B0AE;
    color: white;
    margin: 0;
}

#MeetTheTeam p {
    padding: 5vw;
}

#MeetTheTeam #admin img {
    object-position: top center;
}

#LearnMore h2 {
    text-align: center;
    font-size: 1.7rem;
    background-color: #89B0AE;
    color: white;
    margin: 0 15vw;
}

#LearnMore p {
    padding: 2vw;
}

@media screen and (min-width: 1024px) {
    #MeetTheTeam {
        width: calc(100vw*5/6);
        margin: 0 auto;
    }

    #MeetTheTeam h2 {
        font-size: 6rem;
    }


    .mySlides p {
        width: calc(100vw*4/6);
        font-size: 2rem;
        margin: 0;
    }

    .teamPic {
        max-width: calc(100vw*5/6);
        min-height: 80vh;
    }

    #founder img {
        object-position: 0% 26%;

    }

    #designer img {
        object-position: 0% 35%
    }

    #LearnMore {
        width: calc(100vw*1/6);
        position: absolute;
        top: 160vh;
        left: 75vw;
        border: outset;
        font-size: 1.2rem;
    }

    #LearnMore h2 {
        text-align: center;
        font-size: 2rem;
        background-color: #89B0AE;
        color: white;
        margin: 0;
    }

    #LearnMore p {
        padding: 2vw;
    }

}


/* Contact Us ----------------------------------------------------------------------------------- */

.ContactForm {
    background-color: #89B0AE;
    text-align: center;
    margin: 5vw;
    padding: 0.5vh;

}

div.ContactForm {
    border-style: solid;
    border-color: #BEE3DB;
}

h2.ContactForm {
    border-bottom: dotted;
    border-color: white;
    margin: 1vh 10vw;
}

form.ContactForm {
    line-height: 2.5vh;
    padding: 0;
    margin: 0 0 2vh 0;
}

button.ContactForm {
    background-color: white;
    padding: 2vw;
    margin: 0 0 1vh 0;
}

p.ContactForm {
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
    font-style: italic;
}

.Socials {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .ContactForm {
        max-width: calc(100vw*3/6);
    }

    #contactFormInput {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Thank You Message ----------------------------------------------------------------------------------- */

#ThankYouMessage {
    width: 66vw;
    margin: 5vh 10vw;
    border-style: dashed;
    padding: 3%;
}

#ThankYouMessage h2 {
    text-align: center;
    border-bottom-style: solid;
    padding-bottom: 1rem;
}

/* Order Form ----------------------------------------------------------------------------------- */
.OrderRequestForm {
    margin: 2vh 5vw;
    border-style: solid;
}

h2.OrderRequestForm {
    border-style: none none dashed;
    text-align: center;
}

p.OrderRequestForm {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
    font-style: italic;
}

#contactInfo {
    line-height: 1.8rem;
    padding-bottom: 1rem;
    border-style: dotted none;
}

#contactInfo h3 {
    text-align: center;
    padding: 0vh;
    margin: 0;
    background-color: #89B0AE70;
    height: 3vh;
}

#productSelect {
    line-height: 1.8rem;
    padding-bottom: 1rem;
    border-bottom-style: dotted;
}

#productSelect h3 {
    text-align: center;
    padding: 0vh;
    margin: 0;
    background-color: #89B0AE70;
    height: 3vh;
}

#PlanterOptions,
#SnakeOptions,
#VaseOptions {
    line-height: 1.8rem;
    font-size: 3vw;
    border-bottom-style: dotted;
    padding: 2vh;
}

#delivery h3 {
    text-align: center;
    padding: 0vh;
    margin: 0;
    background-color: #89B0AE70;
    height: 3vh;
}

#addressInput {
    line-height: 1.8rem;
    padding-left: 3vw;
    margin-top: 1vh;
}

#addressInput h3 {
    margin: 0 40vw 0 0;
    background-color: #89B0AE70;
    text-align: center;
    font-size: 1rem;
}

button.OrderRequestForm {
    margin: 2vh 40%;
    scale: 150%;
    background-color: #89B0AE70;
    border-color: #89B0AE;
    font-family: "Modern Antiqua", serif;
}

select {
    border-width: 0.1rem;
}

input {
    border-width: 0.1rem;
}

/* Order Received Message ----------------------------------------------------------------------------------- */

#orderReceived {
    width: 66vw;
    margin: 5vh 10vw;
    border-style: dashed;
    padding: 3%;
}

#orderReceived h2 {
    text-align: center;
    border-bottom-style: solid;
    padding-bottom: 1rem;
}

/* FAQ ----------------------------------------------------------------------------------- */
.collapsible {
    background-color: #89B0AE;
    color: white;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 5vw;
    font-family: "Modern Antiqua", serif;
    padding-right: 9vw;
}

.active,
.collapsible:hover {
    background-color: #89B0AE70;
    color: black;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 5vw;
}

.collapsible:after {
    content: '\27A4';
    font-size: 5vw;
    color: white;
    float: right;
}

.active:after {
    content: "\2B9F";
    color: black;
}


/* History ----------------------------------------------------------------------------------- */
#ourStart {
    background-image: url(images/blueshoppingbag.jpg);
}

#teamGrows {
    background-image: url(images/eggsinanest.jpg);
}

#launchSite {
    background-image: url(images/openlaptop-blankscreen.jpg);
}

#historyStart,
#historyTeam,
#historySite {
    background-color: #FFFFFF95;
    padding-left: 5vw;
    font-size: 4vw;
    padding: 3vh 6vw;
    line-height: 2rem;
}

.borderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2vh;
    border-color: white;
}