@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

. {
     box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}


/* header */
header {
    width: 100vw;
    height: 80vh;
    background-image: url(3d\ printed\ house.jpg) ;
    background-position: center center;
    background-size: cover;
}

#title {
    padding-top: 10vh;
    text-align: center;
    font-family: "Modern Antiqua", serif; 
}

#title h1 {
    font-size: 12vw;   
}

#title h2 {
    font-size: 5vw;
    font-style:italic;
}