@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Modern Antiqua", serif;
    color: var(--black);
    background-color: var(--pale-slate);

}

body h1,
ul,
p {
    font-family: "Modern Antiqua", serif;
}

body h2 {
    font-family: "Modern Antiqua", serif;
}

body h3 {
    font-family: "Modern Antiqua", serif;
}

/* define variables */
:root {
    --granite: #4E5F51;
    --pale-slate: #C3CDD3;
    --dark-spruce: #30452F;
    --black: #030401;
    --charcoal-brown: #293526;
}

/* navigation css ----------------------------------------------------------------------------------- */
/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #4E5F51;
    --nav-text-color: #C3CDD3;
    --nav-hover-bkgd-color: #30452F;
    --nav-hover-text-color: #030401;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
    z-index: 1000;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}


/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

}


/* homepage----------------------------------------------------------------------------------- */
header.homepage {
    width: 100vw;
    height: fit-content;
}

#homepagetitle {
    text-transform: uppercase;
    text-align: center;
    background-image: url(images/treetexture.jpg);
    background-size: cover;
    background-position: center center;
    background-clip: text;
    padding-bottom: 5vh;
}

#homepagetitle h1 {
    font-size: 25vw;
    color: transparent;
    letter-spacing: 3vw;
}

#homepagetitle h2 {
    font-size: 5vw;
    font-style: italic;
    color: transparent;
}

.homeNav {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.homeNavButton {
    height: 9vh;
    width: 9vh;
    background-color: #BEE3DB;
    border-color: #89B0AE;
    font-family: "Modern Antiqua", serif;
    border-radius: 50%
}

#homeIntro {
    width: 90vw;
    margin: 1rem auto;
    text-align: center;
    line-height: 1.5rem;
}

#homeIntro h2 {
    background-color: var(--granite);
    padding: 1rem;
    border-radius: 5px;
    line-height: 2rem;
    color: white;
    font-weight: lighter;
}

#homeImg {
    width: 90vw;
    margin:0;
    padding: 0;
    border-radius: 20px;
    border: solid var(--dark-spruce) 3px;
}

.homeNav {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.homeNavButton {
    height: 5rem;
    width: 9rem;
    background-color: var(--granite);
    border-color: var(--black);
    color:white;
    font-family: "Modern Antiqua", serif;
    border-radius: 20%;
    font-size: 0.8rem;
    margin:1rem;
}


@media screen and (min-width: 1024px) {
    #homepagetitle h1 {
        font-size: 10rem;
        letter-spacing: 4rem;
        font-weight: 1000; 
    }

    #homepagetitle h2 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        font-weight: 1000;
    }


    #homeContent {
        display: flex;
        background-color: var(--charcoal-brown);
        color: white;
    }

    #homeIntro {
        width: calc(100vw*4/6);
        margin: 0 2vw;
        font-size: 2vw;
        line-height: 5vh;
    }

    #homeIntro h2 {
        line-height: 7vh;
        width: 100vw;
        margin: 0 -2vw;
    }

    #homeIntro p {
        width: 50vw;
        margin: 5vh 1vw 1vh 10vw;
        text-align: left;
    }

    #homeImg {
        width: 50vw;
        max-height: 40vh;
        object-fit: cover;
        margin-right: auto; 
    }

    .homeNav {
        margin: 5rem;
        flex-direction: column;
    }

    .homeNavButton {
        height: 20vh;
        width: 20vh;
        font-size: 2rem;
    }
}

/* standard page header ----------------------------------------------------------------------------------- */
header.standard {
    width: 100vw;
    height: 30vh;
    background-image: url(images/eggsinanest.jpg);
    background-size: cover;
    background-position: center center;
}

#headertitle {
    position:absolute;
    width: 100vw;
    bottom: 69vh;
}

#headertitle h1 {
    font-size: 10vw;
    color: #FAF9F9;
    text-align: center;
    padding: 2vh;
    background-color: var(--charcoal-brown);
    opacity: 90%;
    
}

#headertitle p {
display:none;
}

@media screen and (min-width: 1024px) {
    header.standard {
        height: 50vh;
    }

    #headertitle {
        bottom:49vh;
    }

    #headertitle h1 {
        font-size: 8vw; 
    }

}

/* product blocks ----------------------------------------------------------------------------------- */
.productBlock {
    padding: 1vh;
    width: 100vw;
    background-color: white;
    margin: 1rem auto;
}

.productBlock h2 {
    background-color: var(--granite);
    text-align: center;
    color:white;
    border: solid var(--dark-spruce) 0.3rem;
    border-radius: 20px;
    padding: 0 0.5rem;
}

.productBlock h3 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
     color: var(--granite);
}

.productBlock p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: var(--dark-spruce);
    margin: 0;
}

.mySlides1,
.mySlides2,
.mySlides3 {
    height: 40vh;
    object-fit: cover;
}

p.price {
    font-size: 1.3rem;
    text-align: right;
    margin: 0;
    padding: 0;
    color: var(--charcoal-brown)
}

button.moreDetails {
    background-color: var(--granite);
    border-color: var(--charcoal-brown);
    font-family: "Modern Antiqua", serif;
    margin: 1vh 30% 0 30%;
    color: white;
    border-radius: 20px;
    padding: 0.5rem;
}

#comingSoon {
    padding: 1vh;
    background-image: url(images/treetexture.jpg);
    background-size: cover;
}

#comingSoon h2 {
    background-color: var(--granite);
    text-align: center;
    border-radius: 10px;
}

#comingSoon p {
    background-color: var(--granite);
    text-align: center;
    border-radius: 10px;
    margin: 1rem 5rem;
}

#comingSoon img {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    #products {
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .productBlock {
        display: flex;
        width: 30vw;
        margin: 5vh 0;
        padding: 1vw;
        flex-direction: column;
        flex-wrap: nowrap;
        border: outset;
        height: 60vh;
    }

    .productBlock h2 {
    font-size: 2vw;
}

.productBlock h3 {
    font-size: 1.5rem;
}

    .mySlides1,
    .mySlides2,
    .mySlides3 {
    height: 20vh;
    object-fit: cover;
}

    button.moreDetails {
        width: 10vw;
        font-size: 1rem;
        margin: auto auto 0; 
    }

    button.moreDetails:hover{
        opacity: 50%;
    }

    #comingSoon {
        width: calc(100vw*3/6);
        margin: 5vh auto;
        border: outset;
        border-color: var(--dark-spruce);
        color: white;
    }

    #comingSoon h2 {
        width: 100%;
        margin: 1vh auto;
        font-size: 4rem; 
    }

    #comingSoon p {
        font-size: 2rem;
        width: 50%;
        margin: 1rem auto;
    }
}

/* product details ----------------------------------------------------------------------------------- */
.productDetails {
    line-height: 2rem;
}

.productDetails h2 {
    text-align: center;
}

#productTagline {
    text-align: center;
    font-size: 3vw;
    margin: 0 16vw 1vh;
    padding: 1rem;
    background-color: var(--granite);
    border-radius: 15%;
    border-style: dashed;
    border-color: var(--pale-slate);
    color: white;
}

.productImage {
    background-color: white;
    padding: 1rem;
}

#priceTag {
    text-align: center;
    background-color: var(--charcoal-brown);
    color: white;
    margin:0;
}

#productDescription {
    margin: 0 5vw;
}

#productNote {
    text-align: center;
    font-style: italic;
    font-size: 2.7vw;
    background-color: #F5275740;
    margin: 1vh calc(100vw*2/6)
}

.sample {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: 1vh 5vw 5vh;
}

#glow {
    background-color: #FFAD00;
    border: 1px solid #FFAD00;
    box-shadow: 0 0 10px 5px #FFAD00;
}

#crystal {
    background-color: #FFAD0080;
}

#glitter {
    background-image: url(images/glitter.jpg);
    background-size: 14vh;
    background-position: bottom center;
}

#redSilk {
    background-color: #ec644b95;
}

#marble {
    background-image: url(images/marble.jpg);
    background-size: 9vh;
}

#rbSilk {
    background-image: url(images/rainbow.jpg);
    background-size: 5vh;
}

#tSmoke {
    background-color: #100c0895;
}

@media screen and (min-width: 1024px) {
    .productDetails {
        display: flex;
        flex-wrap: wrap;
    }

    .productDetails h2 {
        font-size: 7vw;
        margin: 9vh auto;
    }

    #productTagline {
        font-size: 2vw;
        line-height: 2rem;
        width: calc(100vw*3/6);
        max-height: 20vh;
        margin: 0 1vw;
        padding: 2vw;
    }

    .productImage {
        width: 40vw;
        position: absolute;
        left: calc(100vw*3/6);
        top: 75vh;
        margin-left: 7vw;
    }

    .mySlides {
        height: 50vw;
        object-fit: scale-down;
    }

    .imagePreview {
        width: 40vw;
        margin: 0 auto;
    }

    #priceTag {
        width: calc(100vw*2/6);
        margin: 1rem 10%;
        padding: 1rem;
        font-size: 2rem;
        border-radius: 20px;

    }

    #productContent {
        width: calc(100vw*3/6);
        margin: 1vw;
        padding: 0;
    }

    #productDescription {
        width: 50%;
        font-size: 1.2rem;
        margin: 1vh;
    }

    #productFeatures {
        font-size: 1.2rem;
        position: absolute;
        top: 103vh;
        left: 33vw;
        max-width: 20vw;
        border: outset;
        padding: 1vw;
        background-color: white;
        color: var(--charcoal-brown)
    }

    #productFeatures li {
        padding-top: 1.1rem;
    }

    #productFeatures h3 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    #productNote {
        font-size: 1.3rem;
        width: 50%;
        margin: 1vw 0;
    }

    .customOptions {
        width: 100vw;
        margin: 15vh 1vw 0 0;
        padding-top: 5vh;
    }

    .customOptions li {
        display: inline-flex;
        flex-direction: column;
        width: 30%;
        margin: 1vw;
        padding: 1vw;
        font-size: 1.5rem;
        text-align: center;
        border: solid;
        border-radius: 10%;
        height: 30vh;
        background-color:white;
    }

    .customOptions h3 {
        font-size: 3rem;
        padding: 1vw;
        font-weight: bold;
    }

    .sample {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        margin: auto;
    }

    #glitter,
    #marble {
        background-size: 45vh;
    }

    #rbSilk {
        background-size: 20vh;
    }
}


/* Meet The Team -----------------------------------------------------------------------------------*/
#MeetTheTeam img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

#MeetTheTeam #admin img {
    object-position: top center;
}

#MeetTheTeam h2 {
    text-align: center;
}

#MeetTheTeam h3 {
    text-align: center;
    background-color: var(--charcoal-brown);
    color: white;
    margin: 0;
}

#MeetTheTeam p {
    padding: 5vw;
}

#MeetTheTeam #admin img {
    object-position: top center;
}

#LearnMore h2 {
    text-align: center;
    font-size: 1.7rem;
    background-color: var(--charcoal-brown);
    color: white;
    margin: 0 15vw;
}

#LearnMore p {
    padding: 2vw;
}

@media screen and (min-width: 1024px) {
    #MeetTheTeam {
        width: calc(100vw*5/6);
        margin: 5vh 8vw;
        display: inline-block;
    }

    #MeetTheTeam h2 {
        font-size: 6rem;
    }

    #MeetTheTeam h3{
        font-size: 3rem;
    }

    .mySlides p {
        width: calc(100vw*4/6);
        font-size: 2rem;
        margin: 0;
    }

    .teamPic {
        max-width: calc(100vw*5/6);
        min-height: 80vh;
    }

    #founder img {
        object-position: 0% 26%;

    }

    #designer img {
        object-position: 0% 35%
    }

    #LearnMore {
        width: calc(100vw*1/6);
        position: absolute;
        top: 165vh;
        left: 75vw;
        border: outset;
        font-size: 1.2rem;
        background-color: white;
    }

    #LearnMore h2 {
        text-align: center;
        font-size: 2rem;
        color: white;
        margin: 0;
    }

    #LearnMore p {
        padding: 2vw;
    }

}


/* Contact Us ----------------------------------------------------------------------------------- */

.ContactForm {
    background-color: var(--granite);
    text-align: center;
    margin: 5vw;
    padding: 0.5vh;
    color: white;

}

.ContactForm a{
    color: var(--pale-slate);
}

div.ContactForm {
    border-style: solid;
    border-color: var(--black);
}

h2.ContactForm {
    border-bottom: dotted;
    border-color: white;
    margin: 1vh 10vw;
}

form.ContactForm {
    line-height: 2.5vh;
    padding: 0;
    margin: 0 0 2vh 0;
}

button.ContactForm {
    background-color: var(--charcoal-brown);
    padding: 2vw;
    margin: 0 0 1vh 0;
}

p.ContactForm {
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
    font-style: italic;
}

.Socials {
    text-align: center;
    color: var(--charcoal-brown)
}

.fa {
    padding: 3vw;
    width: 10vw;
    height: 10vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (min-width: 1024px) {
    .ContactForm {
        max-width: calc(100vw*3/6);
    }

    h2.ContactForm {
        font-size: 3vw;
    }

    #contactFormInput {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        line-height: 3vh;
    }

    #contactFormInput div {
        margin: 1vw;
    }

    #formSubmit {
        width: 100%;
    }

    #messageInput {
        line-height: 3vh
    }

    button.ContactForm {
        margin: 2vh 40%;
        scale: 100%;
        font-family: "Modern Antiqua", serif;

    }

    textarea {
        width: 40vw;
    }

    .Socials {
        position: absolute;
        top: 80vh;
        left: 60vw;
    }

    .fa {
        padding: 0.9vw;
        width: 3vw;
        height: 3vw;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        scale: 2;
        margin: 2vw;
    }

}

/* Order Form ----------------------------------------------------------------------------------- */
.OrderRequestForm {
    margin: 2vh 5vw;
    border-style: solid;
}

h2.OrderRequestForm {
    border-style: none none dashed;
    text-align: center;
}

p.OrderRequestForm {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
    font-style: italic;
}

#contactInfo {
    line-height: 1.8rem;
    padding-bottom: 1rem;
    border-style: dotted none;
}

#contactInfo h3 {
    text-align: center;
    padding: 0vh;
    margin: 0;
    background-color: var(--granite);
    height: 3vh;
    color:white;
}

#productSelect {
    line-height: 1.8rem;
    padding-bottom: 1rem;
    border-bottom-style: dotted;
}

#productSelect h3 {
    text-align: center;
    padding: 0vh;
    margin: 0;
    background-color: var(--granite);
    height: 3vh;
    color:white;
}

#PlanterOptions,
#SnakeOptions,
#VaseOptions {
    line-height: 1.8rem;
    font-size: 3vw;
    border-bottom-style: dotted;
    padding: 2vh;
}

#deliveryOptions h3 {
    text-align: center;
    padding: 0vh;
    margin: 0;
    background-color: var(--granite);
    height: 3vh;
    color:white;
}

#addressInput {
    line-height: 1.8rem;
    padding-left: 3vw;
    margin-top: 1vh;
}

#addressInput h3 {
    margin: 0 40vw 0 0;
    background-color: var(--granite);
    text-align: center;
    font-size: 1rem;
    color:white;
}

button.OrderRequestForm {
    margin: 2vh 40%;
    scale: 150%;
    background-color: var(--granite);
    border-color: var(--charcoal-brown);
    font-family: "Modern Antiqua", serif;
    color:white;
}

select {
    border-width: 0.1rem;
}

input {
    border-width: 0.1rem;
}

@media screen and (min-width: 1024px) {
    .OrderRequestForm {
        max-width: calc(100vw*4/6);
        margin: 5vh auto;
    }

    h2.OrderRequestForm {
        font-size: 5vw;
    }

    #contactInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }

    #contactInfo h3 {
        width: 100%;
    }

    #productSelect {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 1.5vw;
    }

    #productSelect h3 {
        width: 100%;
    }

    #customMenus {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    #customMenus h3 {
        overflow: hidden;
    }

    #PlanterOptions,
    #SnakeOptions,
    #VaseOptions {
        width: 30%;
        height: auto;
        font-size: 1vw;
        border: outset;
        margin-top: 3vh;
    }

    #deliveryOptionsInput {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
    }

    #delivery {
        width: 48%;
        line-height: 3vh;
        margin: 1vh 1vw 5vh;
    }

    #addressInput {
        width: 48%;
        line-height: 4vh;
        border: outset;
        text-align: center;
        line-height: 3vh;
    }

    #addressInput h3 {
        margin: 1vh;
        width: 90%;
        font-size: 1.5vw;
    }

}

/* Order Received Message ----------------------------------------------------------------------------------- */

#orderReceived {
    width: 66vw;
    margin: 5vh 10vw;
    border-style: dashed;
    padding: 3%;
}

#orderReceived h2 {
    text-align: center;
    border-bottom-style: solid;
    padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    #orderReceived {
        width: calc(100vw*4/6);
        margin: 5vh auto;
    }

    #orderReceived h2 {
        font-size: 5vw;
    }

    #orderReceived p {
        font-size: 2vw;
    }
}

/* FAQ ----------------------------------------------------------------------------------- */
#ourStart {
    background-image: url(images/blueshoppingbag.jpg);
}

#teamGrows {
    background-image: url(images/eggsinanest.jpg);
}

#launchSite {
    background-image: url(images/openlaptop-blankscreen.jpg);
}

#historyStart,
#historyTeam,
#historySite {
    background-color: #FFFFFF95;
    padding-left: 5vw;
    font-size: 4vw;
    padding: 3vh 6vw;
    line-height: 2rem;
}

.borderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2vh;
    border-color: var(--pale-slate);
}

@media screen and (min-width: 1024px) {
    .collapsible {
        width: calc(100vw*5/6);
        margin: 2vh 8vw;
        font-size: 3vw;
    }

    .collapsible:after {
        font-size: 3vw;
    }

    .content {
        width: calc(100vw*5/6);
        margin: 0 8vw 2vh;
        font-size: 3vw;
        line-height: 6vh;
    }

}

/* History ----------------------------------------------------------------------------------- */
#ourStart {
    background-image: url(images/blueshoppingbag.jpg);
}

#teamGrows {
    background-image: url(images/eggsinanest.jpg);
}

#launchSite {
    background-image: url(images/openlaptop-blankscreen.jpg);
}

#historyStart,
#historyTeam,
#historySite {
    background-color: #FFFFFF95;
    padding-left: 5vw;
    font-size: 4vw;
    padding: 3vh 6vw;
    line-height: 2rem;
}

.borderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2vh;
    border-color: white;
}

@media screen and (min-width: 1024px) {

    #historyStart,
    #historyTeam,
    #historySite {
        height: 100vh;
        font-size: 3vw;
        line-height: 5vh;
    }

    #teamGrows {
        background-position: 0% 20%;
    }
}

/* Footer ----------------------------------------------------------------------------------- */


footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 2vw;
    background-color: var(--granite);
    padding-top: 4vh;
}

#fLogo img {
    width: 25vw;
}

#fLogo,
#fLinks,
#fSpace {
    max-width: 30vw;
    padding: 1.5vw;
}

#fLinks {
    border-left-style: ridge;
    border-left-color: var(--charcoal-brown);
    line-height: 2vh;
}


#fLinks h2 {
    font-size: 3vw;
    color: var(--pale-slate)
}

#fLinks a {
    color: var(--pale-slate);
    font-family: Arial;
    text-decoration:wavy
}

#fCopyright {
    width: 100vw;
    font-style: italic;
    font-size: smaller;
    padding-left: 5vw;
}

@media screen and (min-width: 1024px) {
    footer {
    height: fit-content;
    justify-content: start;
    }

    #fLogo img {
    width: 10vw;
}
    
#fLinks {
        line-height: 1.5rem;
        font-size: 1rem; 
    }

#fLogo,
#fLinks,
#fSpace {
    max-height: 20vh;
}



#fLinks h2 {
    font-size: 2rem;
}


#fCopyright {
    width:100vw;
    font-size: 0.5rem;
    margin: 0;
    padding:0 1rem;
}
}