@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Modern Antiqua", serif;
}

body h1,
ul,
p {
    font-family: "Modern Antiqua", serif;
}

body h2 {
    font-family: "Modern Antiqua", serif;
}

body h3 {
    font-family: "Modern Antiqua", serif;
}

/* navigation css ----------------------------------------------------------------------------------- */
/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #89B0AE;
    --nav-text-color: #FAF9F9;
    --nav-hover-bkgd-color: #BEE3DB;
    --nav-hover-text-color: #555B6E;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
    z-index: 1000;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}


/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

}


/* homepage header ----------------------------------------------------------------------------------- */
header.homepage {
    width: 100vw;
    height: 80vh;
    background-image: url(images/3d\ printed\ house.jpg);
    background-position: center center;
    background-size: cover;
}

#homepagetitle {
    padding-top: 10vh;
    text-align: center;
}

#homepagetitle h1 {
    font-size: 12vw;
}

#homepagetitle h2 {
    font-size: 5vw;
    font-style: italic;
}

/* standard page header ----------------------------------------------------------------------------------- */
header.standard {
    width: 100vw;
    height: 32vh;
    display: flex;
    background-image: url(images/leaves-background.jpg);
    background-size: cover;
}

#headertitle {
    margin: 9vh;
}

#headertitle h1 {
    font-size: 10vw;
    color: #FAF9F9;
    text-align: center;
    padding: 2vh;
    background-color: #89B0AE90;
}

#headertitle p {
    font-size: 2vw;
    text-align: center;
    padding: 0;
    margin: 0;
    font-style: italic;
    color: #555B6E;

}

/* product blocks ----------------------------------------------------------------------------------- */
.productBlock {
    padding: 1vh;
    width: 100vw;
}

.productBlock h2 {
    background-color: #BEE3DB;
    text-align: center;
}

.productBlock h3 {
    font-size: 5vw;
    padding: 0;
    margin: 0;
}

.productBlock p {
    font-size: 3vw;
    padding: 0;
    margin: 0;
    color: #555B6E;
    margin: 0;
}

.mySlides1,
.mySlides2,
.mySlides3 {
    height: 40vh;
    object-fit: cover;
}

#comingSoon {
    background-color: #BEE3DB;
    padding: 1vh;
}

#comingSoon h2 {
    text-align: center;
    background-color: #89B0AE;
}

#comingSoon p {
    text-align: center;
}

#comingSoon img {
    width: 100%;
}

/* product details ----------------------------------------------------------------------------------- */
.productDetails {
    line-height: 2rem;
}

.productDetails h2 {
    text-align: center;
}

#productTagline {
    font-size: 3vw;
    margin: 0 16vw 1vh;
    padding: 1rem;
    background-color: #89B0AE70;
    border-radius: 15%;
    border-style: dashed;
    border-color: white;
}

#priceTag {
    text-align: center;
}

#productDescription {
    margin: 0 5vw;
}

#productNote {
    text-align: center;
    font-style: italic;
    font-size: 2.7vw;
    background-color: #F5275740;
    margin: 1vh calc(100vw*2/6)
}

/* Meet The Team -----------------------------------------------------------------------------------*/
#MeetTheTeam h2 {
    text-align: center;
}

#MeetTheTeam h3 {
    text-align: center;
    background-color: #89B0AE;
    color: white;
    margin: 0;
}

#MeetTheTeam p {
    padding: 5vw;
}

#MeetTheTeam #admin img {
    object-position: top center;
}

#LearnMore h2 {
    text-align: center;
    font-size: 1.7rem;
    background-color: #89B0AE;
    color: white;
    margin: 0 15vw;
}

#LearnMore p {
    padding: 2vw;
}

/* Contact Us ----------------------------------------------------------------------------------- */

.ContactForm {
    background-color: #89B0AE;
    text-align: center;
    margin: 5vw;
    padding: 0.5vh;

}

div.ContactForm {
    border-style: solid;
    border-color: #BEE3DB;
}

h2.ContactForm {
    border-bottom: dotted;
    border-color: white;
    margin: 1vh 10vw;
}

form.ContactForm {
    line-height: 2.5vh;
    padding: 0;
    margin: 0 0 2vh 0;
}

button.ContactForm {
    background-color: white;
    padding: 2vw;
    margin: 0 0 1vh 0;
}

p.ContactForm {
    padding: 0;
    margin: 0;
    font-size: 1.5vh;
    font-style: italic;
}

.Socials {
    text-align: center;
}

/* Thank You Message ----------------------------------------------------------------------------------- */

#ThankYouMessage {
    width: 66vw;
    margin: 5vh 10vw;
    border-style: dashed;
    padding: 3%;
}

#ThankYouMessage h2 {
    text-align: center;
    border-bottom-style: solid;
    padding-bottom: 1rem;
}