/* Background Attachment Vertical */

/* load font Titillium Web from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

* {
	box-sizing: border-box;
	font-family: "Grenze Gotisch", serif;
}

html {
	scroll-snap-type: y mandatory; /* force scroll snap for vertical elements */
}

body {
	overflow-x: hidden; /* hide horizontal scrollbars */
	overflow-y: auto; /* show vertical scrollbars */
}

/* eliminate default padding from content elements */
h1, h2, p {
	padding: 0;
	margin: 0;
}

/* all sections are positioned relative and have a full-page height of 100vh, plus some background settings */
section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
	scroll-snap-align: start; /* force scrolling to align with the top edge of this element */
}

/* absolutely positioned full-width element with a border provides a frame */
.borderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.5rem solid rgb(0, 0, 0);
}

/* apply background images to sections; section1 and section4 have the same background; note background styles in the section selector too */
#Title { background-image: url('personwalkingintunnel.jpg'); }
#section1 { background-image: url('childbeingexcluded.jpg');
			background-position: left center}
#section2 { background-image: url('manaloneonbeach.jpg'); }
#section3 { background-image: url('womanaloneinstorm.jpg'); }
#section4 { background-image: url('fountainwithtreesinbackground.jpg'); }
#section5 { background-image: url('omniouslightwithinstorm.jpg'); }

section > .content {
	position: absolute;
	width: 100%;
	top: 0.5rem;
	left: 0;
	padding: 1rem;
	text-align: center;
	color: white;
	font-size: 3vh;
	background-color: rgba(0, 0, 0, 0.85);
}

#titleText {
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 8px;
	padding-top: 60vh;
}

#Title h1 {
    font-size: 15vh;
    padding: 0;
    margin: 0;
}

#Title h2 {
    font-size: 2vh;
    padding: 2vh;
}

 @media screen and (orientation: landscape) {

#Title { background-position: top center; }
#section1 { background-position: center center;}
#section2 { background-position: center center; }
#section4 { background-position: top center; }
#section5 { background-position: center center; }

#Title h1 {
	font-size: 20vh;
}
#Title h2 {
    font-size: 4vh;
	padding: 0;
 }
.borderOverlay {
    border: 1rem solid rgb(0, 0, 0);
}
	 
 }