header {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("personwalkingintunnel.jpg");
    background-size: cover;
    background-position: center center;
}
