#titleText {
    color: white;
    width: calc(100vw*4/6);
    margin-left: calc(100vw/6);
    margin-top: 60vh;
    text-align: center;
    border-radius: 8px;
}

#Title h1 {
    font-size: 15vh;
    padding: 0;
    margin: 0;
}

#Title h2 {
    font-size: 2vh;
    font-family: Garamond, serif;
    padding: 2vh;
}

html {
	scroll-snap-type: y mandatory; /* force scroll snap for vertical elements */
}

body {
	overflow-x: hidden; /* hide horizontal scrollbars */
	overflow-y: auto; /* show vertical scrollbars */
}

/* eliminate default padding from content elements */
h1, h2, p {
	padding: 0;
	margin: 0;
}

/* all sections are positioned relative and have a full-page height of 100vh, plus some background settings */
section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
	scroll-snap-align: start; /* force scrolling to align with the top edge of this element */
}

/* absolutely positioned full-width element with a border provides a frame */
.borderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 7rem solid #000;
}

/* apply background images to sections; section1 and section4 have the same background; note background styles in the section selector too */
#Title { background-image: url('personwalkingintunnel.jpg'); }
#para1 { background-image: url('childbeingexcluded.jpg'); }
#para2 { background-image: url('manaloneonbeach.jpg'); }
#para3 { background-image: url('womanaloneinstorm.jpg'); }
#para4 { background-image: url('fountainwithtreesinbackground.jpg'); }
#para5 { background-image: url('omniouslightwithinstorm.jpg'); }


/* content divs within the sections are positioned absolutely to the top and right, almost half the page wide */
section > .content {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: darkblue;
    font-size: 2rem;
	background-color: rgba(176, 196, 222, 0.7);
}