/* mobile-first design for favorite recipe layout */

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, sans-serif
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 80vh;
}

#breadTitle {
    position: absolute;
    width: 100vw;
    height: 75vh;
}
#breadTitle h1 {
    font-size: 2em;
    text-align: center;
}
#breadpic {
    position: absolute;
    width: 100vw;
    height: auto;
    background-image: url("debbie-widjaja-H_PXix_4Bwc-unsplash.jpg");
}