/* mobile-first design for favorite recipe layout */

body {
    background-color: ivory;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    background-color: #dae3ec;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#breadTitle h1 {
    font-family: Bradley Han2.5d, cursive;
    font-size: 3em;
    text-align: center;
    padding: 0em;
    margin: 0em;
    color: #4b484f;
}
#tagline {
    font-family: Arial, sans-serif;
    font-size: 0.5em;
    text-align: left;
    max-width: calc(100vw*4/6);
    margin-left: 1em;
    margin-top: 0em;
    color: #36393e;
    border-right: dotted;
    border-left: dotted;
    padding-left: 1em;
    border-width: 0.2em;
}
#breadpic {
    width: 100vw;
    height: auto;

}

#authorDate{
    width: 100vw;
    font-size: 0.45em;
    display: inline-flex;
    color: #36393e;
    border-bottom: outset;  
    border-width: 0.3em;
}

#author {
    margin-left: calc(100vw*2/6);
}

#date {
    margin-left: 3em;
}

#ingredients {
    width: 48vw;
    margin-left: 50vw;
    line-height: 1.5em;
    border-left: dotted; 
}

#ingredients h2 {
    text-align: center;
    font-size: 2em;
}

#time {
    float: left;
    text-align: left;
    padding: 0.6em;
    margin-left: 1vw;
    width: calc(100vw*2/6);
    Font-size: .6em;
    font-family: Courier New, monospace;
    border-style: solid;
}

#time #timeSection {
    line-height: 2em;
    border-style:dashed;
    border-width: 0.5px;
    margin-bottom: 0.5em;
    padding: 1px;
}

#time strong {
    font-size: 1.2em;
    
}

#time #yield {
    font-size: 1.2em;
    text-align: center;
}

#directions{
    border-top: dotted;
    line-height: 1.5em;
    font-size: 1.2em;
}

#directions h2 {
    font-size: 2.5em;
}

#directions li {
    padding: 1em;
    margin-left: 
}

#notes {
    margin-left: calc(100vw/6);
    margin-right: calc(100vw/6);
    padding: 0em 1em 0em 1em;
    border: solid;
    line-height: 1 em;
}

#notes h2 {
    font-size: 1.5em;
    border-bottom: dotted;
    text-align: center;
    
}

footer {
    text-align: right;
    font-size: 0.5em;
}