/* mobile-first design for favorite recipe layout */

body {
    padding: 0;
    margin: 0;
    background-color: ivory;
}

header {
    width: 100vw;
}

#breadTitle h1 {
    font-family: Bradley Hand, cursive;
    font-size: 3em;
    text-align: center;
    padding: 0em;
    margin: 0em;
}
#tagline {
    font-family: Arial, sans-serif;
    font-size: 0.5em;
    text-align: left;
    max-width: calc(100vw*4/6);
    margin-left: 1em;
    margin-top: 0em;
}
#breadpic {
    width: 100vw;
    height: auto;

}

#author {
    font-size: 0.75em;
    margin-left: calc(100vw*2/6)
}

#date {
    font-size: 0.75em;
    margin-left: calc(100vw*4/6)
}